@import url('https://fonts.googleapis.com/css2?family=Jua&family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e4f4f;
    font-family: 'Jua', sans-serif;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: #2e4f4f;
    justify-content: space-around;
    height: 45px;
    color: #CBE4DE;
    align-items: center;
}

nav .logo {
    font-family: 'Lilita One', sans-serif;
}

.btn-resume {
    font-family: 'Jua', sans-serif;
    background-color: #0E8388;
    font-size: 12px;
    color: #CBE4DE;
    border-radius: 70px;
    width: 100px;
    height: 30px;
    transition: transform .4s;
}

.btn-resume:hover {
    transform: scale(1.2);
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: #CBE4DE;
    text-decoration: none;
    font-size: 0.3cm;
}

nav ul li a:hover {
    color: #0E8388;
}

/* Hamburger Menu*/
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;

}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #CBE4DE;
    border-radius: 3px;
    transition: all 0.5s;
}

/* main */
main {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    overflow: auto;
    /* display: block; */
}

#section {
    float: left;
    width: 75%;
    color: #CBE4DE;
    font-size: 30px;
}

.newslatter {
    max-width: 75%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    padding: 14px 130px 14px 15px;
    border: 2px solid #0E8388;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #0E8388;
    color: #CBE4DE;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 135px;
}

aside {
    flex: 1;
}

#sidebar {
    float: right;
    width: 25%;
    text-align: center;
    color: #CBE4DE;
}

#sidebar img {
    width: 200px;
}

.btn-view {
    font-family: 'Jua', sans-serif;
    justify-content: center;
    background-color: #0E8388;
    font-size: 12px;
    color: #CBE4DE;
    border-radius: 70px;
    width: 100px;
    height: 30px;
    transition: transform .4s;
}

.btn-view:hover {
    transform: scale(1.2);
}

.row {
    display: grid;
    justify-content: center;
    grid-template-rows: 40px;
    grid-template-columns: 25% 25% 25% 25%;
}

.container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 40px;
    justify-content: center;
    gap: 80px;
}

.btn-view {
    position: absolute;
    font-family: 'Jua', sans-serif;
    background-color: #0E8388;
    font-size: 12px;
    color: #CBE4DE;
    border-radius: 70px;
    width: 100px;
    height: 30px;
    transition: transform .4s;
}

.btn-view:hover {
    transform: scale(1.2);
}

.container-item {
    height: 40px;
    border-radius: 10px;
    font-size: 30px;
    color: #CBE4DE;
    background-color: #0E8388;
}

.container-item img {
    height: 40px;
}

.columns {
    color: #CBE4DE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    color: #CBE4DE;
    text-align: center;
    padding: 20px;
}

.portfolio {
    color: #CBE4DE;
    text-align: center;
    padding: 20px;
}


.box {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    grid-template-columns: 25% 25% 25%;
}

.card {
    height: 325px;
    width: 200px;
    padding: 20px 35px;
    background: #0E8388;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card h1 {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #CBE4DE
}

h5 {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

/* end sidebar */
.slide-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    /* background-color: #efefef; */
}

.card-wrapper {
    min-height: 40px;
    /* grid-template-columns: 10% 10% 10%; */
}

.slide-content {
    margin: 0 40px;
}

.card-testimoni {
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0E8388;
    border-radius: 25px 25px 0 25px;
}

.overlay::before .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: red;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #0E8388;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #2e4f4f;
}

/* footer */
footer {
    background: #0E8388;
    padding: 25px;
    color: #CBE4DE;
}

footer span a {
    color: #111;
}

footer span a:hover {
    text-decoration: underline;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: #CBE4DE;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: #CBE4DE;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* end Hamburger Menu */



/* Responsive */

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }

}

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
        position: absolute;
        z-index: 99;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #0E8388;
        z-index: 9;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul li a:hover {
        color: #2e4f4f;
    }

    nav ul.slide {
        transform: translateX(0);
    }

    main {
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 20px;
        display: flex;
    }

}


@media screen and (max-width: 300px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #0E8388;
        z-index: 999;
        transform: translateX(100%);
        transition: all 1s;
    }

    nav ul li a:hover {
        color: #2e4f4f;
    }

    nav ul.slide {
        transform: translateX(0);
    }

    main {
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 20px;
        display: none;
    }

}